<div class="col-md-6 col-md-offset-3">
  <% @threads.each do |t| %>


  <div class="thread">
    <h4>
    <%= t.title %>
    </h4>
    <div class="meta">
    <%= t.created_at %>   oleh <%= t.user.name %>
    </div>

      <div class="content">
      <%= t.content %>
      </div>

    </div>
    <div class="count">
      <%= t.forum_posts_count %> obrolan

    </div>
  </div>

</div>
</div>
