<p id="notice"><%= notice %></p>

<p>
  <strong>City name:</strong>
  <%= @xity.city_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @xity.country_id %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @xity.product_name %>
</p>

<p>
  <strong>Bphone:</strong>
  <%= @xity.bphone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @xity.description %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @xity.alamat %>
</p>

<p>
  <strong>User:</strong>
  <%= @xity.user_id %>
</p>

<%= link_to 'Edit', edit_xity_path(@xity) %> |
<%= link_to 'Back', xities_path %>
